<html>
	<head>
		<title>JMetal RESTFul</title>
	</head>
    <body>
    	<img src="https://raw.githubusercontent.com/thiagodnf/jmetal-restful/master/src/main/resources/assets/logo.png" width="450"/>
    	
    	<p>A RESTFul Web Service for JMetal Framework</p>
    	
    	<h2>Overview</h2>

		<p>JMetal RESTFul was built to turn available some features available in <a href="https://github.com/jMetal/jMetal">JMetal Framework</a>.</p> 
		<p>This tool uses a RESTFul server powered by <a href="http://spring.io/">Spring</a> to expose some operations that can be access through POST requests.</p>
    	
    	
    </body>
</html>